@CHARSET "UTF-8";


.divTfont{
		font-size: 16px;
		font-weight: bolder;
		font-family: "微软雅黑","宋体";
		color: blue;
	}
.indextitle{
		font-size: 15px;
		font-weight: bolder;
		padding: 10 10 10 15;
		margin-top:10px;
		margin-bottom:10px;
		margin-left:5px;
		font-family: "微软雅黑","宋体";
	}
	
	#productlist	img{-webkit-backface-visibility:hidden;-webkit-transition:opacity 0.3s ease-out;-moz-transition:opacity 0.3s ease-out;-o-transition:opacity 0.3s ease-out;transition:opacity 0.3s ease-out;}
    img:hover{opacity:0.8}
    #productlist .tit{font-family:'微软雅黑','黑体';font-size:14px;line-height:22px;margin-top:10px;}
    #productlist .text{color:#929292;font-family:'微软雅黑','黑体';font-size:12px;margin-top:5px;padding-right:10px;}
    #productlist img{
        height:160px;
    }
    
    
    
    
  #nav_ul a:hover{
  	background-color: #334455;
  }
  #nav_ul {
  	height:40px;
  	
  }
  #nav_fli{
  	margin-left: 150px;
  }
  
  #nav_ul li a{
  	line-height: 10px;
  }
  
  
  #navtabs li a {
  	cursor: pointer;
  }
  
